body {
    background-color: #ffc0cb; /* Light pink background color */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333; /* Dark text color */
}

header {
    text-align: center;
    padding: 20px;
    background-color: #ff69b4; /* Deep pink header background color */
    color: #fff; /* White text color for the header */
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* White background for the main content area */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px; /* Add space below the image */
}

.custom-div {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
}

ul, ol {
    margin-bottom: 15px;
}

blockquote {
    border-left: 2px solid #333;
    padding-left: 10px;
    margin: 0;
    font-style: italic;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

